<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JS Core Index Page</title>
</head>
<body>
	<h1>LESSON 22: JavaScipt</h1>

	<hr>

	<h3>1. Test Connection</h3>

	<h3>2. Data Structure(dynamic types)</h3>

	<h3>3. Available Popup Functions</h3>

	<ul>
		<li>void: alert('message')</li>
		<li>boolean: confirm('question')</li>
		<li>string: prompt('title', defaultResult)</li>
	</ul>

	<h3>4. Functions</h3>

	<ul>
		<li><a href="admin.html?role=user">Management(User)</a></li>
		<li><a href="admin.html?role=moderator">Management(Moderator)</a></li>
	</ul>

	<h3>5. Scope</h4>

	<p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<p>Lorem3 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<h3>6. Collection</h3>

	<h3>7. Creating Objects</h3>

	<!-- <script src="../js.core/ex01-test-connection.js"></script> -->

	<!-- <script src="../js.core/ex02-data-structure.js"></script> -->

	<!-- <script src="../js.core/ex03-available-popup-function.js"></script> -->

	<!-- <script src="../js.core/ex04-functions.js"></script> -->

	<!-- <script src="../js.core/ex05-scope.js"></script> -->

	<!-- <script src="../js.core/ex06-collection.js"></script> -->

	<script src="../js.core/ex07-object.js"></script>


</body>
</html>