body {
	font-family: Tahoma, Geneva, sans-serif;
}

.sfont {
	font-family: Courier;
}

.gfont {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.buzz {
  font-size: 22px;
  line-height: 42px;
  color: #CE2622;

  text-shadow: 2px 2px grey;
}

.tasks {
  list-style-image: url(../images/world.png);
}

.shadow-block {
  width: 100px;
  height: 200px;
  background-color: orange;
  box-shadow: 20px 20px 20px -2px red;
}