* {
 	box-sizing: border-box;
}

.container {
	width: 50%;
	height: 520px;

	border: 2px dashed black;

	margin: 50px auto;
	padding: 200px;

	.block{
		width: 160px;
		height: 120px;
		 float: left;
	}
	.block-1{
		border: 2px solid orange;
		margin-right: 60px;
		margin-bottom: 60px;
	}
	.block-2{
		border: 2px solid blue;
		margin-right: 60px;
		margin-bottom: 60px;
	}
	.block-3{
		border: 2px solid red;
		margin-right: 60px;
		clear: left;
		margin-bottom: 60px;
	}
}