ul a {
	color: red;
}

ol > a {
	color: green;
}

/*Tìm thẻ p gần nhất cùng level với h1*/
h1 + p {
	background-color: yellow;
}

/*Tìm thẻ p cùng level với h1*/
h1 ~ p:not(.banking) {
	font-weight: bold;
}

/*Tìm label gần nhất của chekbox khi check vao*/
#user-info {
	input[type="checkbox"]:checked + label {
		color: green;
	}
}

li[class^="ol"] {
	text-transform: uppercase;
}

a:visited {
	color: red;
}

/*Tìm element p là element con đầu tiên trong block1 */
.block1 {
	p:first-child {
		text-decoration: underline;
	}
}

/*Tìm thẻ p xuất hiện đầu tiên trong block2*/  
.block2 {
	p:first-of-type {
		background-color: pink;
	}
}

.end {
  &::before {
    content: '';
    display: block;
    width: 180px;
    height: 2px;
    background-color: red;
    margin-bottom: 14px;
  }

  &::after {
    content: '🌹';
    margin-left: 6px;
  }
}