*{
	box-sizing: border-box;
}

.container{
	width: 72%;
/*	height: 520px;*/
	border: 2px dashed black;
	margin: 50px auto;
	padding-top: 200px;

	overflow: hidden;
}

.block{
	width:	160px;
	height: 120px;
}

.block-1{
	border: 2px solid orange;
	margin-right: 60px ;
}

.block-2{
	border: 2px solid green;
	margin-left: 60px;
}

.block-3{
	border: 2px solid green;
	clear: left;
	margin-top: 60px;
}